{% extends "base_body_links.html" %}

{% block title %}
	О проекте iyoume
{% endblock %}

{% include links.html %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-8"><h1>Ты ищешь такси или машину?</h1></div>
    <div class="col-xs-6 col-md-4"></div>
</div>

<div class="row">
    <div class="col-xs-6 col-md-4"></div>
    <div class="col-xs-6 col-md-4"><h4>Или ты профессиональный таксист и хочешь найти клиентов?</h4></div>
    <div class="col-xs-6 col-md-4"></div>
</div>

<div class="row">
    <div class="col-xs-6"></div>
    <div class="col-xs-6"><h6>А может ты имеешь свою машину и не прочь кого-нибудь подвести на работу?</h6></div>
</div

<div class="row">
    <div class="col-xs-6 col-md-4"><h3>Да? Тогда пройди <a href="/user/">регистрацию</a> и ищи или добавляй свои рейсы.</h3></div>
    <div class="col-xs-6 col-md-4"></div>
    <div class="col-xs-6 col-md-4"></div>
</div>

<div class="row">
    <div class="col-xs-6 col-md-4"></div>
    <div class="col-xs-6 col-md-4"></div>
    <div class="col-xs-12 col-md-8">
        <h5>
            Что вам даст сайт? Таксистам - клиентов. Пассажирам - такси, по минимальной цене или
            даже бесплатно!
        </h5>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-8"><h1></h1></div>
    <div class="col-xs-6 col-md-4"><marquee><h2>Попутчики всех стран - объединяйтесь!</h2></marquee></div>
</div>
{% endblock %}
