{% extends "base_body_links.html" %}
{% block head_data %}
<style>
    .bs-callout{
        margin: 20px 0;
        padding: 15px 30px 15px 15px;
        border-left: 5px solid #eee;
    }
    .bs-callout h4{
        margin-top: 0;
    }
    .bs-callout p:last-child{
        margin-bottom: 0;
    }
    .bs-callout code, bs-callout .highlight{
        background-color: #fff;
    }
    .bs-callout-info{
        background-color: #eee;
        border-color: #ddd;
    }
    .bs-callout-info-2{
        background-color: #eef;
        border-color: #dde;
    }
    .absolute-center {
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }
    .vertical-center{
        padding-top: 35px;
    }   
    .table-head-centered table thead tr th{
        text-align: center;
    }
</style>
{% endblock %}
{% block header%}
    Откуда: {{ travel.from_point }} Куда: {{ travel.to_point }}
{% endblock %}

{% block content %}
<h2>Место встречи</h2>
<p>{{ travel.meeting_point }}</p>
<div class="container table-head-centered">
    <table class="table table-striped table-bordered table-condensed">
    <caption>Ваши попутчики</caption>
    <thead>
        <tr>
            <th>Пассажиры</th>
        </tr>
    </thead>
    <tbody>
    {% for passanger in  travel.passangers.all %}
        <tr>
            <td>{{ passanger.username }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
